<form #form="ngForm">
<div class="container">
    <mat-card>
      <mat-card-title>Search Page</mat-card-title>
      <mat-card-content>
        <mat-form-field>
          <input matInput placeholder="Search..." />
        </mat-form-field>
  
        <mat-date-range-input [rangePicker]="picker">
          <input matStartDate placeholder="Start Date" [(ngModel)]="range.start" name="start" />

          <input matEndDate placeholder="End Date" [(ngModel)]="range.end" name="end" />
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-card-content>
  
      <mat-card-actions>
        <button mat-raised-button color="primary" (click)="submit()">Submit</button>
      </mat-card-actions>
    </mat-card>
  </div>
</form>